 <div class="body_box_outer">
        <div class="body_box_inner">
          <div class="text_body_todo">
            <%= render partial: 'post', locals: { post: posts } %>
          </div>
        </div>
      </div>
    </div>
