    <div class="body_box_outer">
        <div class="body_box_inner">




          <div class="text_body_heading">
          here is some text

          </div>
          <a href="/show">go to Show page</a>


      </div>
</div>
