    <div class="body_box_outer">
        <div class="body_box_inner">

          <div class="text_body_heading">
          click on a post title to read more
          </div>
            <a href="/show">SHOW LINK HERE</a>


      </div>
    </div>

