<!-- From the show page, I should be able to click a button labeled “delete”
that will prompt me that I am about to permanently delete a post and if
I confirm it will delete the post and redirect me to the index page for
all posts. (Note: The index page for posts, not the root url)
 -->

 <div class="body_box_outer">
        <div class="body_box_inner">

          <div class="text_body_heading">
          click on a post title to read more
          </div>
            <a href="/">BACK TO INDEX PAGE</a>


    </div>
</div>

