<!-- From the show page, I should be able to click a button labeled “delete”
that will prompt me that I am about to permanently delete a post and if
I confirm it will delete the post and redirect me to the index page for
all posts. (Note: The index page for posts, not the root url)
 -->

 <div class="body_box_outer">
        <div class="body_box_inner">

          <div class="text_body_heading">
          click on a post title to read more
          </div>
            <a href="/index.html">BACK TO INDEX LINK HERE</a>



            <form action="/posts" method="POST">
              <p>Task: <input type="text" name="Post"></p>
              <p>Complete: <input type="checkbox" name="COMPLETE"></p>
              <input type="submit" value-"CREATE ANOTHER POST">
            </form>

            <% end %>
          </div>
        </div>
    </div>
</div>




<!--
def destroy
    if Student.exists?(params[:id])
      Student.destroy(params[:id])
      render json: { message: 'destroyed' }, status: 200
    else
      render json: { error: 'Student not found' }, status: 404
    end
  end
 -->

 <div class="text_body_todo">
             <% posts.each do |post| %>
            <%= render partial: 'post', locals: { post: post } %>

